* {
  box-sizing: border-box;
}
:root {
  --orange: #e6b469;
}
body {
  font-family: 'Playfair Display', 'sans-serif';
  min-height: 100vh;
  margin: 0;
}
.flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* HEADER */
header {
  width: 100%;
  color: #f6f1f1;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 0px 5vw;
  font-size: 15px;
}

.nav-links-ul {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  /* padding-top: 10px; */
  justify-content: center;
}
.nav-link {
  /* text-align: center; */
  text-transform: uppercase;
}
.nav-link:hover {
  color: #e6b469;
}
li {
  list-style-type: none;
}
a {
  color: #fff;
}
a:hover {
  color: var(--orange);
}
.active {
  text-decoration: underline;
}

/* logo */
.logo {
  display: block;
  width: 250px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.navbar-brand {
  margin-left: auto;
  margin-right: auto;
}
.brand-name {
  margin-bottom: 0;
  font-family: 'Lora', serif;
  font-size: 2.5em;
  font-weight: bold;
  background-image: linear-gradient(to right, #5c3230 0, #cb9b51 22%, #f6e27a 45%, #e7e29b 50%, #f6e27a 55%, #cb9b51 78%, #502927 100%);
  color: transparent;
  -webkit-background-clip: text;
}

/* icons */
.header-icons-right {
  display: flex;
}

.icons i {
  margin: 10px;
  color: #fff;
}
.icons i:hover {
  cursor: pointer;
}
.toggle_btn {
  font-size: 1rem;
  display: none;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  height: 0;
  position: absolute;
  right: 0;
  top: 60px;
  width: 55vw;
  background: rgba(255, 255, 255, 0.945);
  backdrop-filter: blur(15px);
  overflow: hidden;
  z-index: 5;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 90vh;
  padding: 15px 0;
}
.dropdown_menu a {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-xmark {
  color: #e6b469 !important;
}
.dropdown_menu hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  margin: 5px;
}

.above-dpm-logo {
  /* span above logo*/
  margin-bottom: 5rem;
}

/* header image */
.header-img {
  /* content: url('https://lh3.googleusercontent.com/6VdwSCiMeDowOtO1CzzdzI4EudCydMBn5FGcb_TyXd0HDOqiKfkTeBWynt9was3mIX9j2M_42CtztA71UN6_0n5L1VkDfb2ASCsdmCDdo_NbxuxfuRfrgQRAxA8R1uCIIGYu08vtA-X1bwhVpXmz_mGyVmV6u7pi2AwtA1OEVJuPR8EV928ClHF23HxMRFjnTHSKvoAl3jK6lL3Syj5LHNd49MNqveDtDnNJgYMA_YB_3DHPi6CCgK2pHcCqs8Ngvb8rZu-v3LJmHAxyejuzzFVC4zIZOsXv5YIUfmou5sU7JYK5PB0IHUNrZyO6mbtATxqjkPaxsAST5RfMu7TY-U2GnVLxaddzsZYaL5a1FeDNKQSy8bzm7BaadNb3Rot1kau238xS5I8xHl0YMt6Y5x-4u1DMnFmeiM5VBTOWwpIHwbvNYtk2ovss8Aiqxag-Hp2rMFVkVPVtqg-E1NcDJohEz8VOyZDspohBtSLUhHuGq_Zpf_DzNhfj6eWvvBGwQvpG-nYuakos7Ovmq4yLsAnLbratsrRthxB3oU0IBif0iRLjnmDEvybK7ta7rR7E4HBYT1FOjLltjnPidVWwU8gEN8XBWCIS_wF6kWZY-XhF9z-C3PwhvRgY-lu09CPbhR00cVUkppYDoQz120SGMEcrrlKgqYyzIUTkyujOtT5ghpGVvA4B2FzvIaqMurkdwhGE9ukuid35udWY9rtesxPzrOhc5RR4LvqIGc9FEAw97MpWavBAFGtzSfVjdBZ_G4VF-qZp5t5FvZ4ioVqcRokvQ-M7yX6SsJRNU9UCzcqq9BsgNaLaqhge5oj_CcHYYvHqo-pT5GQQy8mKlEtshFETEvhneWx3gJL9w_XZ3JRxtaCfJGOK_IyPj1rZA7cFLI3i8HFZmY6nyKvckMP2-0ZVO5XqQLJIj4PzFEh-PptBLv2j=w1112-h625-s-no?authuser=0'); */
  content: url('../images/Header-Image.png');
}
.the-big-image {
  width: 100%;
  min-height: 10vh;
  height: 100%;
  object-fit: contain;
}

/* MAIN BOBY */
.divider {
  background-color: #000;
  color: #fff;
  padding: 20px 20rem;
  font-size: 15px;
  font-family: 'Playfair Display', 'serif';
}
.divider p {
  margin-bottom: 5px;
}
.divider a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.white-div {
  background-color: #fff;
}
.media-scroller {
  font-family: 'Merriweather', serif;
  --spacer: 0.3rem;
  display: grid;
  gap: var(--spacer);
  padding: var(--spacer);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 24%;
  overflow-x: auto;
  font-weight: bold;
  overscroll-behavior-inline: contain;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  margin: var(--spacer);
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
}
.media-element p,
.media-element span {
  padding-left: 5px;
}
.media-img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.image-name,
.pricing {
  font-family: 'Lora', serif;
  margin: 0rem 0.6rem;
}

/* Scrollbar styling */
.media-scroller::-webkit-scrollbar {
  width: 1em;
  height: 0.6em;
}
.media-scroller::-webkit-scrollbar-track {
  background: hsl(0, 0%, 91%);
  /* border-radius: 100vw; */
  /* margin-block: .5em; */
}
.media-scroller::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 60%);
  /* border: 0.1em solid hsl(0, 0%, 91%);; */
  border-radius: 100vw;
}
.media-scroller::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 30%);
}

.big-image-div {
  width: 100%;
}
.big-image-2 {
  content: url('../images/big-image-2.png');
}
.big-image-3 {
  content: url('../images/big-Image-3.png');
}

/* SHOP PAGE */
.main-content {
  padding: 20px;
  min-height: 50vh;
}
.grid-products {
  margin: 1px;
  padding: 10px;
}
.grid-item {
  height: auto;
  padding: 10px;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
}
.media-big-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.image-name-big {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0.6rem;
}

/* ABOUT PAGE */
.about_h1 {
  margin: 20px;
  margin-left: 0;
}

/* FOOTER */
.footer {
  margin: 0;
  padding: 2rem;
  padding-bottom: 0;
  min-height: 50vh;
  color: #000;
}
.footer p {
  padding: 0 20rem;
}

.footer-links {
  margin: 1rem 0;
}
.footer a {
  padding-right: 1rem;
  color: #000;
}
.footer .brand-name {
  font-size: 6em;
}
.footer .logo {
  margin: 1rem;
}
.footer-icons {
  justify-content: center;
}
.footer i {
  font-size: 2rem;
  color: #000;
}
.styled {
  border: 0;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.styled:hover {
  cursor: pointer;
}

/* RESPONSIVE DESIGN */
/********** Large devices only **********/
@media (max-width: 1200px) {
  .navbar-brand {
    font-size: 1.5vw;
  }
  .divider {
    padding: 20px 15rem;
  }
  .divider h1 {
    font-size: 35px;
  }
  .divider p,
  .divider a {
    font-size: 15px;
  }
  .footer p {
    padding: 0 10rem;
  }
}

@media (max-width: 992px) {
  .nav-link {
    padding: 0.5rem;
    font-size: 14px;
  }
  .navbar-brand {
    font-size: 1.8vw;
  }
  .divider {
    padding: 20px 10rem;
  }
  .media-element p,
  .media-element span {
    font-size: 15px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 768px) {
  .nav {
    padding: 0px 2vw;
  }
  .nav-links-div,
  .nav-links-ul,
  .nav-items {
    display: none;
  }

  .navbar-brand {
    font-size: 0.8rem;
    margin: 0;
    margin-right: auto;
    padding: 1rem;
  }
  .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .header-img {
    /* content: url('https://lh3.googleusercontent.com/8zizcWe5ddIubrPHLp4yBcyziXzzsYPeflWeXKj-_Wup1SAc712VT5Ev4_buG9qoUXY4f0NLgUsyPGyQh0WkXHZuw8lbW_kcvooiFCbYR329nK3Bw4dlkHdiw2l2--6OILfTNgDK2h40_Q8LKLbW2nZnDqDY2MGFVk4g5UFiAr_WsncNwJkhtM9uwM--oHPkgm3xJ4ykP7qVe1mxjzJEjVzzkjcCiQ3_6UEk33CJmDC69WmURBLqXJHboCYc25QwDwkwjIRvHqAey4TrXmj6d10C30cgF-RtheFOM_XEy6OeeG1EZM8lir8hrXsiE_Ab1v-GuWsT2sJ2vva_PVhj3WKoI3dUtH_X9TmBY3n0kmFAAUak_hJ9fW_C7ZuLFwc0e2_CkVPys6kfSFE_u9vDhKr7DCafFxxj-N2_V3txRkOq5Fo0rzb5MRP6d0m-AdnXfGkCiKnsaMd_wCdQDTOgxaYsW9h2gLIrwlfHbePNdFmmVZQ3BYJi7x_uMY_rVRn0nRZSfjcOQAOVD-KNCTzSUb0ZyyNmAY9iMnRuVxjSi7IoJ2QYf5D0jIT0vg_9pybClb2grcBMPOZisPrIKDVkmlTpxI9Zt9tycDjxtjav96iRSaXiMNtY-hneBB9ZeRiQgjr6HVLUpbXyxiFcxc7tNSywRILxweBSMYTYQGNMuqjtTVNTBNEboehcfywm9NAlFwA9dIrG5YyE8HnwZQG0yHFtm1HuvJNqE_aX_3zAVbEaJ7ty6YjMtH1VbSmZcb8OFL5YnrlRguf52M4Uhc5-SBmxFtYnCCVv3wIIrt-OhqsJBebzVt0sM_neYL4VcXPwORe09xf20XoMf3kZmzc0n_aw4JhsnSUQdqwFwllv9RCcvOvguJuFFfkL1An9GmQ9m35dvl9th_yGOd2JObOKDuEy6S9Kz-q5NSJVFtYcMqRgz5ep=w499-h624-s-no?authuser=0'); */
    content: url('../images/smaller-header-image.png');
  }

  .media-scroller {
    grid-auto-columns: 45%;
  }
  .media-img {
    height: 50vw;
  }

  .divider {
    padding: 20px 2rem;
  }
  .divider h1 {
    font-size: 25px;
  }
  .divider p,
  .divider a {
    font-size: 12px;
  }

  .the-big-image {
    min-height: 20vh;
  }
  .big-image-2 {
    content: url('../images/small-image-2.png');
  }
  .big-image-3 {
    content: url('../images/small-image-3.jpg');
  }
  .footer p {
    padding: 0 5rem;
  }
}

/* inbetween */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 0.6rem;
  }

  /* .brand-name {
    display: none;
  }
  .logo {
    display: inline;
    height: 40px;
  } */
  .header-icon {
    font-size: 0.8rem;
  }
  .icons i {
    margin: 5px;
  }
  .dropdown_menu {
    width: 70vw;
  }
}

/********** Extra extra small devices only **********/
@media (max-width: 400px) {
  .navbar-brand {
    font-size: 0.5rem;
  }
  .icons i {
    margin: 1px;
  }
  .media-scroller::-webkit-scrollbar {
    width: 1em;
    height: 0.3em;
  }
  .footer .logo {
    width: 200px;
  }
  .footer p {
    padding: 0 0.5rem;
  }
}
