* {
  box-sizing: border-box;
}
body {
  font-family: 'Playfair Display', 'sans-serif';
  height: 100vh;
  margin: 0;
}

.flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
header {
  width: 100%;
  color: #f6f1f1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 0px 1vw;
}
.nav-links-div,
.icons {
  width: 30vw;
}
.nav-links-ul {
  display: flex;
  padding: 0;
  padding-top: 10px;
  justify-content: center;
}
.nav-link {
  text-align: center;
  text-transform: uppercase;
}
.active {
  text-decoration: underline;
}

.navbar-brand {
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand:hover {
  color: #fff;
}
.brand-name {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  font-size: 2.5em;
  font-weight: bold;
  background-image: linear-gradient(to right, #5c3230 0, #cb9b51 22%, #f6e27a 45%, #e7e29b 50%, #f6e27a 55%, #cb9b51 78%, #502927 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.logo {
  display: none;
}

ul {
  list-style-type: none;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
}

.header-icons {
  justify-content: flex-end;
  text-align: right;
}

.icons {
  display: flex;
}
.icons i {
  margin: 10px;
  color: #fff;
}
.icons i:hover {
  cursor: pointer;
}

.header-img {
  content: url('https://lh3.googleusercontent.com/6VdwSCiMeDowOtO1CzzdzI4EudCydMBn5FGcb_TyXd0HDOqiKfkTeBWynt9was3mIX9j2M_42CtztA71UN6_0n5L1VkDfb2ASCsdmCDdo_NbxuxfuRfrgQRAxA8R1uCIIGYu08vtA-X1bwhVpXmz_mGyVmV6u7pi2AwtA1OEVJuPR8EV928ClHF23HxMRFjnTHSKvoAl3jK6lL3Syj5LHNd49MNqveDtDnNJgYMA_YB_3DHPi6CCgK2pHcCqs8Ngvb8rZu-v3LJmHAxyejuzzFVC4zIZOsXv5YIUfmou5sU7JYK5PB0IHUNrZyO6mbtATxqjkPaxsAST5RfMu7TY-U2GnVLxaddzsZYaL5a1FeDNKQSy8bzm7BaadNb3Rot1kau238xS5I8xHl0YMt6Y5x-4u1DMnFmeiM5VBTOWwpIHwbvNYtk2ovss8Aiqxag-Hp2rMFVkVPVtqg-E1NcDJohEz8VOyZDspohBtSLUhHuGq_Zpf_DzNhfj6eWvvBGwQvpG-nYuakos7Ovmq4yLsAnLbratsrRthxB3oU0IBif0iRLjnmDEvybK7ta7rR7E4HBYT1FOjLltjnPidVWwU8gEN8XBWCIS_wF6kWZY-XhF9z-C3PwhvRgY-lu09CPbhR00cVUkppYDoQz120SGMEcrrlKgqYyzIUTkyujOtT5ghpGVvA4B2FzvIaqMurkdwhGE9ukuid35udWY9rtesxPzrOhc5RR4LvqIGc9FEAw97MpWavBAFGtzSfVjdBZ_G4VF-qZp5t5FvZ4ioVqcRokvQ-M7yX6SsJRNU9UCzcqq9BsgNaLaqhge5oj_CcHYYvHqo-pT5GQQy8mKlEtshFETEvhneWx3gJL9w_XZ3JRxtaCfJGOK_IyPj1rZA7cFLI3i8HFZmY6nyKvckMP2-0ZVO5XqQLJIj4PzFEh-PptBLv2j=w1112-h625-s-no?authuser=0');
}

.the-big-image {
  width: 100%;
  min-height: 50vh;
  height: 100%;
  object-fit: contain;
}

.divider {
  background-color: #000;
  color: #fff;
  padding: 20px 20rem;
  font-size: 15px;
  font-family: 'Playfair Display', 'serif';
}
.divider p {
  margin-bottom: 5px;
}
.divider a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.white-div {
  background-color: #fff;
}
.media-scroller {
  font-family: 'Merriweather', serif;
  --spacer: 0.3rem;
  display: grid;
  gap: var(--spacer);
  padding: var(--spacer);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 24%;
  overflow-x: auto;
  font-weight: bold;
  overscroll-behavior-inline: contain;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  margin: var(--spacer);
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 15px -4px rgba(0, 0, 0, 0.75);
}
.media-element p,
.media-element span {
  padding-left: 5px;
}
.media-img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.image-name,
.pricing {
  margin: 0rem 0.6rem;
}

/* Scrollbar styling */
.media-scroller::-webkit-scrollbar {
  width: 1em;
  height: 0.6em;
}
.media-scroller::-webkit-scrollbar-track {
  background: hsl(0, 0%, 91%);
  /* border-radius: 100vw; */
  /* margin-block: .5em; */
}
.media-scroller::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 60%);
  /* border: 0.1em solid hsl(0, 0%, 91%);; */
  border-radius: 100vw;
}
.media-scroller::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 30%);
}

.big-image-div {
  width: 100%;
}
.big-image-2 {
  content: url('https://lh3.googleusercontent.com/0VACR9nS6cJLZ14U5E_MqWp6hFzDqqzDJJtBUwbOXrHyjE6MbiARU5mUp4lvqi5_Y_G--y5EPdEw1CZc-6W5E9WoEDWpH0C5eQk85DHalUHqn5uC4MsIBlFy9FYJbn0jCah0UoE2xMJbzFlJjNuIoLI5tggI14humS-YTiKtf-aFjS2h1URNbDGUlB3zsuhdEX4Y00xnuPuvtB80uO_L7guBfLLTLOEdJbika3EEopzMTVjbEqDLxWAWK9y6ums2o4p65mJ57pU0w_fAXY1E3HD6IVg7w17tCDnhKLfBMY_TFT0pFc7TH74JPHBhvs-WkZy6EPY28HEME_GvpFPjIe9qHp7F3p6RegfTtUI9lLXnYmRie_fSARLvVIC42SWP8fJsEome-NDN0HqCaliqm6BAGWhu3nKh5f-rKOC_l87c3wuUD4ghj-OcmWNa0Vqg48VqykUr-knlfn8knrp2YgE16IZJx_ZdRIZJwW5nm3yOSb6DfcayZEW_tJEwsFHJgVQzDzRg3njq94u8ttqlvuRbS2u6OF__EJVP_VoraYEgCVvYaSXUqmQeeoxZmUYrfZjCxP3qpI0CsoBUY-mtqPIIjc_snRMOgGsqrIvOSBrLdPahKTaxTJHbjxiPAPQgofJ-CYpwtQ6ytTJtJ3QcMuaW-yJw5a_3-oASNk3_BwbcR8KM0QptwVQ9m9dalKz-Bzaovsz8s6iAxsmOnVDUtHQEUbUY7UyEZC656ZeV4S1dQZCkeBUlL0ssIzUIOfi8ziAqTuRXYTdq59hsnfJr8jO2exEcA0EQDj16CpzTeoZuza0aM5ANxL2hG8jv7OvxOQf2YGpPx9NnoiFB7J7cAA0S-FlkmYtzahHIl9QyEu2HBrP_jQ3RBg2zEkWoamsJBVRChQLj1msb06Za7PDgNa5wuSzsbWbrlfmaq7f1ORiEEM0Y=w1112-h625-s-no?authuser=0');
}
.big-image-3 {
  content: url('https://lh3.googleusercontent.com/QchbzWHHQ32aMRUrbM9WJZqhjg2Q7PuujAJkfeBdOXYgKMuei7wOijKbjdle9U28dfL2yGlB9Xx1iXJJyrse0gJPj-MFwnrXUyWtCR1ktT47_v6TTKYiiZCJeo3VZSbvh4lEu3_j51dq3h-ZUIzcrhWswWqgDaAAteKgZfHhkje4Dmf8HiHU-0lZb6QTCU0CbAM1mnXavo78cI0vuaMuV1MzGZN3_H3aOxu1PJpCs-2CPK_B27iHRL9AACjmxncEeV11v5UwLbasaCKmJ3sz5fZF9hWRvm2AfFaUxyE_LbbudyrTKcQLd7Qt7niDLwYlUElXLWMLoORV6LBgN4DQP_JGLowBeqDMLaEgEG0TBvkbN4ie3KY0ZsLCTGZwLvywveMHjAjPoL0aV_TJU-ljw2xtKX6Z_Bq8r-09s-CoGl2s2jK5I3nPcDWfo40NBufp-jU0w3glswaqgP5ooLRvJvP-iSDowkeM9vlAdbXjg2vH4tXUJdsDar8fPiYvwk3g6p8FvAOC9FHS6ds8QXopXCI61xAScsbJNTTGfqqTf3jrVEwjDPbdAb6iGTDTYlv7zL2ghf0VD2ym9UKks_ny7XpQUK8ISwXdcWMMsbO3On90sikmR9pzoAOa3na1qRcoiuIWQSxR25FXP7Ew35oInvU8WqSXT6JMYHDtrD5PXLHnAZH60DRUrgpIk4IQEh_QTNO2-rATau1sNiPdpCUuzHo-khcHVeflyIpS1en_-gPfKmpwiXULx6-C1TMMcLmXPXJIkF4DTHW2rYkdWJpdKhdwqIPhfOr_9AQ3yDyLBNIzRyG6ZpNVxCjS_-Dbn1rw8uwqgnTySiojsmBHZ2b1couH7PuxbUPlHca8r7Q8YJvwkFZXdzXTQCq3irYM2uncj9xS88YmrLtQEETp0-Qczrhj8pdJgqr4RImOXu-no2vIJB4p=w1112-h625-s-no?authuser=0');
}

.footer {
  margin: 0;
  padding: 2rem;
  padding-bottom: 0;
  min-height: 50vh;
  color: #000;
}
.footer p {
  padding: 0 20rem;
}

.footer-links {
  margin: 1rem 0;
}
.footer a {
  padding-right: 1rem;
  color: #000;
}
.footer .brand-name {
  font-size: 6em;
}
.footer .logo {
  height: 20vw;
  margin: 1rem;
}
.footer-icons {
  justify-content: center;
}
.footer i {
  font-size: 2rem;
  color: #000;
}
hr.styled {
  border: 0;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.styled:hover {
  cursor: pointer;
}

/********** Large devices only **********/
@media (max-width: 1200px) {
  .nav {
    font-size: 1.3vw;
  }
  .navbar-brand {
    font-size: 1.5vw;
  }
  .divider {
    padding: 20px 15rem;
  }
  .divider h1 {
    font-size: 4vw;
  }
  .divider p,
  .divider a {
    font-size: 1.5vw;
  }
  .footer p {
    padding: 0 10rem;
  }
}

@media (max-width: 992px) {
  .nav {
    font-size: 1.5vw;
  }
  .brand-name {
    display: none;
  }
  #navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo {
    display: inline;
    height: 100px;
  }
  .icons i {
    margin: 0.5rem;
  }
  .divider {
    padding: 20px 10rem;
  }
  .media-element p,
  .media-element span {
    font-size: 1.5vw;
  }
}

/********** Extra small devices only **********/
@media (max-width: 768px) {
  .nav-links-div,
  .icons {
    width: 35vw;
  }
  .nav a {
    padding: 1rem 0.5rem;
  }
  .nav-links-ul {
    padding-top: 0px;
    margin: 0;
  }
  .logo {
    height: 10vw;
  }
  .header-icons{
    padding-right: 2vw;
  }
  .header-icon{
   padding: 1vw; 
  }

  .header-img{
    content: url('https://lh3.googleusercontent.com/8zizcWe5ddIubrPHLp4yBcyziXzzsYPeflWeXKj-_Wup1SAc712VT5Ev4_buG9qoUXY4f0NLgUsyPGyQh0WkXHZuw8lbW_kcvooiFCbYR329nK3Bw4dlkHdiw2l2--6OILfTNgDK2h40_Q8LKLbW2nZnDqDY2MGFVk4g5UFiAr_WsncNwJkhtM9uwM--oHPkgm3xJ4ykP7qVe1mxjzJEjVzzkjcCiQ3_6UEk33CJmDC69WmURBLqXJHboCYc25QwDwkwjIRvHqAey4TrXmj6d10C30cgF-RtheFOM_XEy6OeeG1EZM8lir8hrXsiE_Ab1v-GuWsT2sJ2vva_PVhj3WKoI3dUtH_X9TmBY3n0kmFAAUak_hJ9fW_C7ZuLFwc0e2_CkVPys6kfSFE_u9vDhKr7DCafFxxj-N2_V3txRkOq5Fo0rzb5MRP6d0m-AdnXfGkCiKnsaMd_wCdQDTOgxaYsW9h2gLIrwlfHbePNdFmmVZQ3BYJi7x_uMY_rVRn0nRZSfjcOQAOVD-KNCTzSUb0ZyyNmAY9iMnRuVxjSi7IoJ2QYf5D0jIT0vg_9pybClb2grcBMPOZisPrIKDVkmlTpxI9Zt9tycDjxtjav96iRSaXiMNtY-hneBB9ZeRiQgjr6HVLUpbXyxiFcxc7tNSywRILxweBSMYTYQGNMuqjtTVNTBNEboehcfywm9NAlFwA9dIrG5YyE8HnwZQG0yHFtm1HuvJNqE_aX_3zAVbEaJ7ty6YjMtH1VbSmZcb8OFL5YnrlRguf52M4Uhc5-SBmxFtYnCCVv3wIIrt-OhqsJBebzVt0sM_neYL4VcXPwORe09xf20XoMf3kZmzc0n_aw4JhsnSUQdqwFwllv9RCcvOvguJuFFfkL1An9GmQ9m35dvl9th_yGOd2JObOKDuEy6S9Kz-q5NSJVFtYcMqRgz5ep=w499-h624-s-no?authuser=0');
  }

  .media-scroller{
    grid-auto-columns: 30%;
  }
  .media-img{
    height: 50vw;
  }

  .divider {
    padding: 20px 2rem;
  }
  .divider h1 {
    font-size: 5vw;
  }
  .divider p,
  .divider a {
    font-size: 2vw;
  }
  .big-image-2 {
    content: url('https://lh3.googleusercontent.com/r1WyDsjWbeN7_FlnxjvqgOu78w7MXnVypoq1r4oDUCRmvx9mu27rR1DJzsMJc3yJA3elKu-DtTKcZPvTWH41Zr9qjwtq3sm74WlArhD_glEKQoc82wLPAjm4vqYAzjJDuUIYdvCW-eLo_6BhnG89InJos0l5dMYhdoMPLmCl7NHFJWYSa4aO-j0t_z0KQTpBeHYT6lsO0lUf86ZOzXstqqSSz5QMhkZjUnkCwbKGOtUylCjCSN0okz_98Pdp4SWPpsQojTYvWp3Mac2DsZoTYJ4VgJTxq-8_KXXk15CFjumd7SRBDWjBeSYKtG05E8-VxhdgOW87L-jXe9yLvhKEvi0gyGRYW6YCBwKDoifqetnfgurFDZKb0YfWdG2KLPgzg9fJq8tGp99Rrvm3hleiaJo4HRLwEQDGwlelkIKfwmhJsMeCA4EBVy2ukc4h29TfPDA2i7L1a3k60c7GXKXqWBnYbKkyEF8A90V-OhzL5AS07nCQFLZH4UpDn1CXvo9bb5eTAFAkVHZJirSRA-3zE6mqeyRo9PpqU4SartWhXSaKO4xGAF9SUb91U_xqJpMzUcrXy8ITeC9a_J9MCA--pbsPku4XlPhoRD6Y3w5nI8lzKCBeA5-WWUOenWUX1bvE-sHhVUfTYhmDfTRumKZod3x4fg41B1iNM3MzaP6wK8_WEraRKtVDkCYZh495zRBq5pyl_7FOVKI2TeV6wpZc-7X8Yhq1NxEAfmj0sRL3w9_-pZX_E4SHycAGnh6RmA5xze4vMfaPazwiAlMTgSLDsspRk4sK2pHLuhCAxqxY7f529L8ifmlIOrG78w3-LYoBwP-HDX3C0EYOgDhsZxq4_LTVYnk9vAni2KLrIvmq3F0p8kxSk6S08QDbu-Cm2fn3gYqA_nZlz5g1rZcmhh2n8l8gtEXv2P6G_JcBgMbF8WXtpXA2=w500-h625-s-no?authuser=0');
  }
  .big-image-3{
    content: url('https://lh3.googleusercontent.com/aNPPcgNxYLz1SRP7pmUtEJtr91GJqYovr28iILW4a1XZXsWsNhk_V6uBzIpiUDKClnU3-jSxG21LXTWxxBDuw9iIy0p0WfdP18B-p4k7tkCSwxMi__R1sLXeEpTMLu9uSOidlqbPH2t2dEeml15OFE2JeTFAmxq_941rhfKMMckFj_i91W7Vg7NYRDwkvYBygFRWSMUyBKEgozw3IZ2vZOHezTmqGl38zCRQwdiMWP2pASWCtz09mSidj5eeR0j7F3T2qXJQDULsjvyAtGdT9F8ux6If0Jamvr5zzPfO3SunIss2UzHPt_nw_ppq1J33R9Kr6vmLnCcepDV6AriY2KUme9FugLoYbAJKrnX5BsqglTj9JFM26ZZ3w-R2T-11vw2ZeEBbbAsWMUgH99psvAWv3aPRgUo7WK33ob4Pn_EV0-MzlSDVgv1zoOxSS3xkcQRt3CZIl9V_WrYbGKvbN4S9Tnb-qSO1jtZ8BT3tYvFjDlf1KLe3dbC1aIc4z1R0AOoU7oTpMs2JQDrYFQVP76j73I8TgFjdWjE-r0BB7zhkvNqcgjHDX49U40gmLoZZwJpm0oo4M9h4jZAmsZJyD-FRM1I6kyDaHhHCHFhCSy923OdbhQE6CUDE9k91B_fvly7KjtNcf86IJbBsRwFwzU74paoC7hhHa0fhpOI9as4pbgZNaoGkiR6U0djY4uD4o-e_MD31e530dZvl5TCPs-s2dCZoIT3eKFh7_30wCTG_OjSiStEWTINx4-dMj1ArmzYR9yL_pWTK5_JNLaUlsGJkMDCAzRzS-MIVO6z9r_p1_B4FTVcDKsT-neKpLB6eYSV91aXC6L7yGmrL-5NWUaoiVVi1ztm9jkA4Bh2xsfh4WHeO-u-WouWckHdjK0h_k_8hq81mMMRgOEFe6CglLpYPjNIlVvKAYx46e7l5KilIjmiE=w500-h625-s-no?authuser=0');
  }
  .footer p {
    padding: 0 5rem;
  }
}

@media (max-width: 400px) {
  .media-scroller::-webkit-scrollbar {
    width: 1em;
    height: 0.3em;
  }
  .footer .logo {
    height: 30vw;
  }
  .footer p {
    padding: 0 0.5rem;
  }
}
